.links p {
  margin-bottom: 7px;
}
.links p a {
  color: #000;
  text-decoration: underline;
  font-size: 0.9rem;
  font-weight: bolder;
}
.footer {
  background: #5f249f;
}
@media screen and (min-width: 775px) {
  .addrs {
    border-left: 3px solid #006975;
  }
}
